.game-arena {
    height: 38rem;
    width: 34rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #faf8ef;
}

.game-arena__header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.game-arena__score {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

h1.title {
    font-size: 3rem;
    font-weight: bold;
    color: #4f4024;
}

@media only screen and (max-device-width: 480px) {

    .game-arena {
        width: 100%;
        height: unset;
    }
    .game-arena__header {
        align-items: end;
        width: 100%;
    }

    h1.title {
        font-size: 2.5rem;
        line-height: 0.8;
    }
}