.game-board__area {
    background-color: #967b6e;
    display: flex;
    flex-direction: column;
    min-width: 31rem;
    padding: 4px;
}

.game-board__header {
    display: flex;
    font-size: 0.8rem;
    color: #776e65;
}

.game-board__header p {
    flex: 1;
}

.game-board__header button {
    width: 4rem;
    height: 2rem;
}

.game-board__header button img {
    height: 2rem;
}

.game-board__controls {
    display: flex;
    justify-content: space-between;
    margin: 1rem -2rem -1rem;
    background: #70608b;
}

img {
    height: 3rem;
    width: 5rem;
    cursor: pointer;
}

img.disabled {
    height: 3rem;
    width: 5rem;
    pointer-events: none;
    opacity: 0.5;

}

button {
    background-color: unset;
    border: unset;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
    padding: 4px;
    height: 100px;
}

.cell {
    padding: 10px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.cell-2 {
    background-color: #eee4da;
}

.cell-4 {
    background-color: #eee1c9;
}

.cell-8 {
    background-color: #f3b27a;
}

.cell-16 {
    background-color: #f69664;
}

.cell-32 {
    background-color: #f77c5f;
}

.cell-64 {
    background-color: #f75f3b;
}

.cell-128 {
    background-color: #edd073;
}

.cell-256 {
    background-color: #edcc62;
}

.cell-512 {
    background-color: #edc950;
}

.cell-1024 {
    background-color: #edc53f;
}

.cell-2048 {
    background-color: #edc22e;
}


@media only screen and (max-device-width: 480px) {

    .game-board {
        width: 100%;
        padding: 1rem;
    }

    .game-board__area {
        min-height: unset;
        min-width: unset;
    }

    .game-board__controls {
        margin: 1rem -1rem -1rem;
    }


}